/*NAVBAR*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --navbar-height:70px;
  --section-top-margin: 50px;
}

body {
  background: #0d192c;
  min-height: 100vh;
  overflow-x: hidden;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--navbar-height);
  background: #0d192c;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.5);
}

.logo {
  color: #ccd6f6;
  text-decoration: none;
  font-size: 1.5em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  position: relative;
  top: 7px;
  right: 20px;
}

.group {
  display: flex;
  align-items: center;
}

header ul {
  position: relative;
  display: flex;
  gap: 30px;
}

header ul li {
  list-style: none;
}

header ul li a {
  position: relative;
  text-decoration: none;
  font-size: 1.2em;
  color: #8892b0;
  /*text-transform: uppercase;*/
  letter-spacing: 0.2em;
}

header ul li a::before {
  content: ' ';
  position: absolute;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background: #8892b0;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  transform-origin: right;
}

header ul li a:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

.menuToggle {
  position: relative;
  display: none;
  color: #ccd6f6;
}

@media (max-width: 800px) {
  .menuToggle {
    position: absolute;
    display: block;
    font-size: 2em;
    cursor: pointer;
    transform: translateX(30px);
    z-index: 10;
  }
  header .navigation {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    left: 100%;
  }
  header.open .navigation {
    top: 80px;
    opacity: 1;
    visibility: visible;
    left: 0;
    display: flex;
    flex-direction: column;
    background: #0b1c35;
    width: 100%;
    height: calc(100vh - var(--navbar-height));
    padding: 40px;
    border-top: 1px solid #0e2444;
  }
  header.open .navigation li a {
    font-size: 1.25em;
  }
  .hide {
    display: none;
  }
}

section {
  margin-top:calc(var(--navbar-height) + var(--section-top-margin));
}

/*Home Page*/

.homee {
  height: 700px; /* increased the height */
  position: relative; /* added position property */
  margin-bottom: 200px;
}

.text {
  position: absolute; /* changed from float to absolute */
  right: 575px; /* added right property */
  top: 70px; /* added top property */
}

.img {
  position: absolute; /* changed from float to absolute */
  left: 375px; /* added left property */
}

/* h1 template */
.welcome {
    font-size: 50px;
    color: #ccd6f6;
}

/* h2 template */

.sub-title {
  font-size: 35px;
  color: #8892b0;
}

/* p template */

.welcome2 {
  font-size: 20px;
  color: #8892b0;
}

.scrollBtn {
  cursor: pointer;
  color: #64ffda;
  background-color: transparent;
  border: 1px solid #64ffda;
  border-radius: 6px;
  padding: 0.75rem 1.25rem;
  text-decoration: none;
  transition: 0.5s;
  font-size: 15px;
}

.scrollBtn:hover {
  background-color: #64ffda;
  color: #0b1c35;
  transition: 0.5s;
  text-decoration: none;
}

.home {margin: 0; height: 100%; overflow: auto}

/*About Me Section*/

hr {
  height: 2px;
  width: 85%; /* set the width of the hr */
  border-radius: 2px; /* make the hr rounded */
  border: 2px solid rgb(95, 106, 160); /* add a border */
  margin: auto; /* to center the element horizontally */
  display: block; /* to make the element a block-level element */
}

.my-ints {
  height: 500px;
  display: flex;
  top: 50px;
}


.title {
  color: #ccd6f6;
  margin-left: 150px;
  margin-top: 20px;
  font-size: 25px;
  float: left;
}

.exp {
  font-size: 11px;
  color: #8892b0;
  float: right;
  margin-right: 150px;
  margin-top: 20px;
}

.programming {
  position: relative;
  top: 75px;
  height: 447.97px;
  width: 635.99px;
  left: -145px;
  float: left;
}

.coding {
  border-radius: 7px;
}

.topic {
  color: #ccd6f6;

}

.info {
  position: relative;
  color: #8892b0;
  top: 7px;
}

.hermione {
  position: relative;
  top: 75px;
  height: 447.97px;
  width: 635.99px;
  right: 100px;
  float: right;
}

.tech {
  position: relative;
  top: 75px;
  height: 447.97px;
  width: 635.99px;
  right: 60px;
  float: right;
}

/*Footer Section*/

.footer-img {
  position: relative;
  margin-left: 25px;
  float: left;
}

.copyright {
  position: relative;
  float: left;
  color: #8892b0;
  margin-left: 25px;
  margin-top: 20px;
}

.footerlink {
  text-decoration: none;
  color: #ccd6f6;
  transition: 0.5s;
}

.footerlink:hover {
  color: azure;
  transition: 0.5s;
}

.footer-icons a {
  background-color: transparent;
  padding: 0;
  margin: 0;
}

.mail {
  color: aliceblue;
}

.social-icons {
  position: relative;
  float: right;
  right: 150px;
  top: 20px;
  font-size: 0;
}

.social-icons a {
  display: inline-block;
  margin: 0;
  font-size: 16px; /* set the font size to the desired value */
  color: #8892b0;
}

.social-icons a:not(:last-child) {
  margin-right: 10px;
}
